/* CSS for mobile view */
@media (max-width: 768px) {
    .skip-to-content {
        display: none;
    }
}

.skip-to-content:focus + #main-content {
    /* Adjust scroll-behavior as needed */
    scroll-behavior: smooth;
    /* Adjust scroll offset as needed */
    padding-top: 50px;
}

/* Ensure focus indicator for skip link */
.skip-to-content:focus {
    outline: 2px solid transparent;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.current {
    text-decoration: underline;
    font-weight: bold
}
nav ul li a.current:hover {
    color: #cc5500; /* Change text color on hover */
    border-bottom-color: #cc5500; /* Change border color on hover */
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.location {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.location img {
    max-width: 100%;
    height: auto;
}

.location h2 {
    margin: 0;
}

.location p {
    margin: 0;
}
